<div class="facebookComments">
  <h6>Leave a comment</h6>

  <div class="fb-comments" data-href="http://blog.katherinedelorme.com{{ page.url }}" data-num-posts="4" data-width="706"></div>

    <div id="fb-root"></div>
     <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=680938188780510";
     fjs.parentNode.insertBefore(js, fjs);
     }(document, "script", "facebook-jssdk"));</script>
</div>
