  <section class="newsletterPortion newsletterImgHome">
    <h2>Grab a Copy</h2>
    <h4>Let's Talk Design</h4>
    <a rel="canonical" href="http://katherinedelorme.com/signup">Join</a>
  </section>
  <footer>
    <p>Hand coded and designed with <span>&hearts;</span> by Katherine Delorme</p>
    <div>
        <a href="https://www.facebook.com/KatdelormeKatdesign" target="_blank">
          <i class="fa fa-facebook fa-lg"></i>
        </a>
        <a href="https://www.twitter.com/Katdelorme" target="_blank">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
        <a href="http://www.linkedin.com/pub/katherine-delorme/88/748/a0/" target="_blank">
          <i class="fa fa-linkedin fa-lg"></i>
        </a>
        <a href="http://www.behance.net/KatherineDelorme" target="_blank">
          <i class="fa fa-behance fa-lg"></i>
        </a>
        <a href="http://www.dribbble.com/KatherineDelorme" target="_blank">
          <i class="fa fa-dribbble fa-lg"></i>
        </a>
        <a href="http://www.medium.com/@Katdelorme" target="_blank">
          <i class="fa fa-medium fa-lg"></i>
        </a>
        <a href="https://github.com/Katdelorme" target="_blank">
          <i class="fa fa-github fa-lg"></i>
        </a>
    </div>
  </footer>

  <!--javascript-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://katherinedelorme.com/js/responsive-nav.min.js"></script>
  <script>
  var nav = responsiveNav(".nav-collapse");
  </script>

</body>
</html>
