/* ///////////// header  ////////////// */
.head{
	clear: both;
	background-color: $primary;
	display: block;
	position: relative;
	width: 100%;
}

header ul{
	display: block;
	margin: 0;
	padding: 0;
  li{
  	border-right: 1px solid #222;
  	float: left;
  	font-family: "Lato", Helvetica, Arial, sans-serif;
  	position: relative;
    &:last-child {
    	border-right: none;
    }
  }
}

.logo{
	padding: 0 5% 0 2%;
}
.nav{
	float: right;
	padding-right: 2%;
}
/* ///////////// header end ////////////// */

/* ///////////// footer  ////////////// */
footer{
	align-items: center;
	display: flex;
	min-height:80px;
	justify-content: space-between;
	padding-left:7.5%;
	padding-right:7.5%;
}

footer a:link,footer a:visited,footer a:active,footer a:focus{
	color:#000000;
	text-decoration: none;
}
footer a:hover    {
	color: #0489b7;;
}

footer p{
	font-size: 1em;
	line-height: 24px;
	margin: 0 0 2%;
}

footer span{color:#0489b7;font-size: 1.2em;}
/* ///////////// footer end ////////////// */

/* ///////////// Pages ////////////// */
.homePostTitle{
	text-align: center;
	width: 70%;
}
a.roundLink{
	border: 2px solid $primary;
	border-radius: 30px;
	color: $primary;
	display: inline-table;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 4px;
	margin-top: 5%;
	padding: 15px 45px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	&:hover{
		background: $primary;
		color: $tertiary;
		text-decoration: none;
	}
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  flex: 1;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}
.featuredlink{
  text-decoration: none;
  color: #000000;
}
.hero{
  background: transparentize($primary, 0.25);
  background-size: cover;
  background-position: center center;
  /*background: linear-gradient(rgba(1, 42, 55, 0.75), rgba(1, 42, 55, 0.75)), url("../assets/sectionBackground.jpg") no-repeat;*/
  clear: both;
  height: 50vh;
  @extend .Aligner;
  div{
    background: transparentize($tertiary, 0.30);
    height: 20vh;
    padding: 2%;
    text-align: center;
    width:40%;
    @extend .Aligner;
  }
}
.subscribe{
	font-size: 1em;
	margin-left: 3%;
  margin-top: 5%;
}
.subscribe a{
	color: $secondary;
}
.subscribePost{
	font-family: $font-style-primary;
	margin-left: 0;
  margin-top: 0;
	margin-bottom: 3%;
}
.posttime{
	margin-bottom: 1%;
}
.postholder{
  /*@extend .Aligner;
  flex-wra: wrap;*/
  display: flex;
	margin-bottom: 4%;
  justify-content: space-around;
}
.postholderspace{
	margin: 2% 0px 6% 0px;
}
.post-item{
  border: 1px #CCCCCC solid;
  width: 30%;
  &:nth-child(even){

  }
  img{
    max-width: 100%;
    height: auto;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .postimg{
    width: 100%;
    height: 170px;
    background-size: cover;
  }
  .post-caption{
    /*max-height: 200px;*/
    padding: 5%;
		span{
			font-family: $font-style-primary;
			font-size: 1.2em;
			font-weight: 400;
			font-style: normal;
			line-height: 24px;
		}
    p{
      /*max-height: 90px;
      overflow: hidden;*/
			line-height: 120%;
			margin: 3% 0px;
    }
    time{
      display: inline-block;
      margin-top: 5%;
    }
  }
}
/* ///////////// Pages end ////////////// */

/* ///////////// Posts ////////////// */
time{
  display: block;
	font-family: $font-style-primary;
  margin: 3% 0;
}
.post{
	margin-bottom: 4%;
  p{
		&:first-child{
			margin-top: 4%;
		}
		line-height: 180%;
    margin-bottom: 4%;
    span{
      font-weight: 700;
    }
  }
  a{
    color: #000000;
  }
	ul{
		font-family: $font-style-secondary;
		font-size: 1.5em;
		line-height: 180%;
		list-style-position:inside;
		list-style-type: square;
		margin-left: 30px;
	}
}
article{
	display: inline-block;
	margin: 4% 5% 0 5%;
}
.fiftySplit a{
	display: inline-block;
	float: left;
	margin-bottom: 2%;
	width: 49%;
	&:first-child{
		margin-right: 2%;
	}
	img {
		width: 100%;
	}
}
.postShare a{
	margin-right: 2%;
	text-decoration: none;
}
.postShare a:hover{
	color: #0489b7;
}

.imgfullwidth{
	width: 100%;
}

figcaption{
	color: rgba(0,0,0,.6);
	font-family: $font-style-primary;
	padding-bottom: 10px;
}
.facebookComments{
	margin-top: 4%;
}
.holderBlog{
	display: inline-block;
}
.oneThird{
	float: left;
	width: 33.33%;
	margin-right: 5%;
}
.twoThird{
	float: left;
	width: 61.67%;
}
.oneHalf{
	float: left;
	width: 50%;
}
/* ///////////// Posts end ////////////// */

/* ///////////// Newsletter ////////////// */
.newsletterImgHome{
	background-image: url("http://katherinedelorme.com/assets/stockphotosforsite/3-4.jpg");
	background-position: center center;
}
/* ///////////// Newsletter end ////////////// */

/* ///////////// Signup Form ////////////// */
#mc_embed_signup input {
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
#mc_embed_signup{
	width: 80%;
	margin: auto;
}
#mc-embedded-subscribe-form{
	#mc_embed_signup .mc-field-group{
		background-color: #fff;
		color: #aaa;
		cursor: pointer;
    clear: left;
    position: relative;
		transition: all 0.23s ease-in-out 0s;
    width: 96%;
    padding-bottom:0;
    min-height: 50px;
		height: 32px;
	}
	.indicates-required {
    text-align: right;
    font-size: 11px;
    /*margin-right: 4%;*/
	}
	.asterisk {
    color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
	}
	.mc-field-group{
		margin-bottom: 2%;
		&:last-child{
			background: red;
		}
	}
	input[type="text"], input[type="email"]{
    border: 1px solid #ddd;
    background: #f8f8f8;
		display: block;
    outline: 0;
    padding: 15px 10px;
		text-indent: 1%;
    width: 98%;
	}
	input[type="submit"]{
		background: $tertiary;
		border: 1px solid #ffffff;
		border-radius: 0px;
		color: $secondary;
		height: auto;
		letter-spacing: .1em;
    padding: 15px 14px;
		text-decoration: none;
		text-transform: uppercase;
		width: 100% !important;
		&:hover{
			background: #0489b7;
			color: #ffffff;
		}
	}
	#mc-embedded-subscribe{
		width: 96%;
		letter-spacing: .1em;
		border: none;
		border-radius: 0px;
		text-transform: uppercase;
		&:hover{
			background: #0489b7;
			color: #ffffff;
		}
	}
}
/* ///////////// Signup Form end ////////////// */

/* ///////////// responsiveness ////////////// */
@media only screen and (max-width: 770px) {
	.postholder {
		display: block;
	}
	.post-item {
		margin: 2% 10%;
    width: 80%;
	}
}
@media only screen and (max-width: 650px) {
	.oneThird{
		width: 100%;
		margin-right: 0;
	}
	.twoThird{
		width: 100%;
	}
}
/* ///////////// responsiveness end////////////// */
