/* ///////////// header  ////////////// */
.head{
	clear: both;
	background-color: $primary;
	display: block;
	position: relative;
	width: 100%;
}

header ul{
	display: block;
	margin: 0;
	padding: 0;
  li{
  	border-right: 1px solid #222;
  	float: left;
  	font-family: "Lato", Helvetica, Arial, sans-serif;
  	position: relative;
    &:last-child {
    	border-right: none;
    }
  }
}

.logo{
	padding: 0 5% 0 2%;
}
.nav{
	float: right;
	padding-right: 2%;
}
/* ///////////// header end ////////////// */

/* ///////////// footer  ////////////// */
footer{
	align-items: center;
	display: flex;
	min-height:80px;
	justify-content: space-between;
	padding-left:7.5%;
	padding-right:7.5%;
}

footer a:link,footer a:visited,footer a:active,footer a:focus{
	color:#000000;
	text-decoration: none;
}
footer a:hover    {
	color: #0489b7;;
}

footer p{
	font-size: 1em;
	line-height: 24px;
	margin: 0 0 2%;
}

footer span{color:#0489b7;font-size: 1.2em;}
/* ///////////// footer end ////////////// */

/* ///////////// Pages ////////////// */
.homePostTitle{
	text-align: center;
	width: 70%;
}
.roundLink{
	border: 2px solid $primary;
	border-radius: 30px;
	color: $primary;
	display: inline-table;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 4px;
	margin-top: 5%;
	padding: 15px 45px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.roundLink:hover{
	background: $primary;
	color: $tertiary;
}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  flex: 1;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}
.featuredlink{
  text-decoration: none;
  color: #000000;
}
.hero{
  background: transparentize($primary, 0.25);
  background-size: cover;
  background-position: center center;
  /*background: linear-gradient(rgba(1, 42, 55, 0.75), rgba(1, 42, 55, 0.75)), url("../assets/sectionBackground.jpg") no-repeat;*/
  clear: both;
  height: 50vh;
  @extend .Aligner;
  div{
    background: transparentize($tertiary, 0.30);
    height: 20vh;
    padding: 2%;
    text-align: center;
    width:40%;
    @extend .Aligner;
  }
}
.subscribe{
	font-size: 1em;
	margin-left: 3%;
  margin-top: 5%;
}
.subscribe a{
	color: $secondary;
}
.postholder{
  /*@extend .Aligner;
  flex-wra: wrap;*/
  display: flex;
  justify-content: space-around;
}
.post-item{
  border: 1px #CCCCCC solid;
  width: 30%;
  &:nth-child(even){

  }
  img{
    max-width: 100%;
    height: auto;
  }
  a{
    text-decoration: none;
    color: #000000;
  }
  .postimg{
    width: 100%;
    height: 170px;
    background-size: cover;
  }
  .post-caption{
    /*max-height: 200px;*/
    padding: 5%;
		span{
			font-family: $font-style-primary;
			font-size: 1.2em;
			font-weight: 400;
			font-style: normal;
			line-height: 24px;
		}
    p{
      /*max-height: 90px;
      overflow: hidden;*/
			line-height: 120%;
			margin: 3% 0px;
    }
    time{
      display: inline-block;
      margin-top: 5%;
    }
  }
}
/* ///////////// Pages end ////////////// */

/* ///////////// Posts ////////////// */
time{
  display: block;
	font-family: $font-style-primary;
  margin: 3% 0;
}
.post{
  p{
		line-height: 180%;
    margin-top: 4%;
    span{
      font-weight: 700;
    }
  }
  a{
    color: #000000;
  }
}
article{
	display: inline-block;
	margin: 2% 5% 0px 5%;
}
/* ///////////// Posts end ////////////// */

/* ///////////// Newsletter ////////////// */
.newsletterImgHome{
	background-image: url("http://katherinedelorme.com/assets/stockphotosforsite/3-4.jpg");
	background-position: center center;
}
/* ///////////// Newsletter end ////////////// */

/* ///////////// responsiveness ////////////// */
@media only screen and (max-width: 770px) {
	.postholder {
		display: block;
	}
	.post-item {
		margin: 2% 10%;
    width: 80%;
	}
}
/* ///////////// responsiveness end////////////// */
