---
layout: default
---

  {% if page.banner %}
    <div class="postbanner" style="background-image: url({{ page.banner}});{% if page.banner2 %}background-image: url({{ page.banner2}});{% endif %}{% if page.bannerposition %}background-position: {{ page.bannerposition }};{% endif %}">
    </div>
  {% endif %}

  <div class="slimPost">
    <h2>{{ page.title }}</h2>
    <time class="posttime">{{ page.date | date: "%B %-d, %Y"}}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} · {{ page.readtime }}</time>
    <p class="subscribe subscribePost">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a> | Add to <a href="https://feedly.com/i/discover/sources/search/http%3A%2F%2Fblog.katherinedelorme.com%2F" target="_blank">Feedly</a> | <span onclick="copyToClipboard('#copyLink')" class="pointer" id="clipped">Copy Link</span></p>

    <span id="copyLink" style="display:none;">http://blog.katherinedelorme.com{{ page.url }}</span>

    <div id="alert" class="alert alert-warning fade">
      Copied to Clipboard
    </div>

    <div class="post">
        {{ content }}

        <p style="font-size: 12px;">*Since this is my word vomit dumping ground you can find my more refined written words on <a href="http://www.medium.com/@Katdelorme" target="_blank">Medium</a>. I love using this space to explore my journey as a designer and developer while not getting pressed to write in the most splendid manner. Proofing, revision and consist edit take so much time for me personal. In the past this has cause me to write less often which I aim to avoid. Goal = consistency. Added: March 5, 2018.</p>

        {% include social-sharer.html %}

        {% include facebook-comment.html %}
    </div>

    <section>

      {% assign hasSimilar = '' %}
      {% for post in site.related_posts %}
          {% assign postHasSimilar = false %}
          {% for category in post.categories %}
              {% for thisCategory in page.categories %}
                  {% if postHasSimilar == false and hasSimilar.size < 3 and post != page and category == thisCategory %}
                      {% if hasSimilar.size == 0 %}
                      <h2>Related Posts</h2>
                      <div class="postholder postholderspace">
                        {% endif %}
                        <div class="post-item">
                          <div>
                            <a href="{{ post.url | prepend: site.baseurl }}">
                              <div class="postimg" style="background-image: url({{ post.banner}})"></div>
                            </a>
                          </div>
                          <div class="post-caption">
                            <p>
                              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            </p>
                          </div>
                        </div>
                      {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                      {% assign postHasSimilar = true %}
                  {% endif %}
              {% endfor %}
          {% endfor %}
      {% endfor %}
      {% if hasSimilar.size > 0 %}
                  </div>
      {% endif %}
    </section>
  </div>

<script>
  function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
    var clip = document.getElementById('clipped');
    var alert = document.getElementById('alert');

    clipped.addEventListener('click', function() {
      alert.classList.add('in');

      setTimeout(function() {
        alert.classList.remove('in');
      }, 2000);
    });

    var clip2 = document.getElementById('clipped2');
    clipped2.addEventListener('click', function() {
      alert.classList.add('in');

      setTimeout(function() {
        alert.classList.remove('in');
      }, 2000);
    });

    txt.addEventListener('blur',function (){
      alert.classList.remove('in')
    });
</script>
