---
layout: default
---

<h2>{{ page.title }}</h2>
<time class="posttime">{{ page.date | date: "%B %-d, %Y"}}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} · {{ page.readtime }}</time>
<p class="subscribe subscribePost">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">via RSS</a> | Add to <a href="https://feedly.com/i/discover/sources/search/https://medium.com/@Katdelorme/" target="_blank">Feedly</a></p>

<div class="post">
    {{ content }}

    {% include social-sharer.html %}

    {% include facebook-comment.html %}
</div>



<section>
  <h2>Related Posts</h2>
  <div class="postholder postholderspace">
    {% for post in site.related_posts limit: 3 %}
    <div class="post-item">
      <div>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="postimg" style="background-image: url({{ post.banner}})"></div>
        </a>
      </div>
      <div class="post-caption">
        <p>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
